{% extends "layouts/base.html" %}

{% block title %}
    DxpChain client offline
{% endblock %}

{% block content %}

<div class="jumbotron"><h3 class="text-danger">
{{ msg }}
</h3></div>

{% endblock %}
