<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/css/bootstrap.3.1.1.min.css">
    <link rel="stylesheet" href="/static/css/jquery.dataTables.1.10RC1.css">
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/famfamfam-flags.css">
    <link rel="stylesheet" href="/static/css/application.css">

    <link rel="stylesheet" href="/static/css/network_map.css">

    {% block stylesheet %}{% endblock %}
</head>

<body>

<div id="wrap">
    <div class="container">

{################################ HTML CONTENT ################################}
{% macro make_table(data, attrs, headers, title='') -%}
    <h3 align="center">{{ title }}</h3>

    {% if subtitle %}
        <div class="credit" align="center">{{ subtitle | safe }}</div>
    {% endif %}


        <div>


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
{% if points %}
    <li role="presentation"><a href="#map" aria-controls="maps" role="tab" data-toggle="tab">Map</a></li>
{% endif %}
    <li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Detail</a></li>
{% if config_ini %}
    <li role="presentation"><a href="#config_ini" aria-controls="config_ini" role="tab" data-toggle="tab">config.ini format</a></li>
{% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

{% if points %}
    <div role="tabpanel" class="tab-pane" id="map">
        <div id="map_container"></div>
    </div>
{% endif %}

    <div role="tabpanel" class="tab-pane active" id="detail">

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tableview">
            {% if headers %}
                <thead><tr>
                {% for h in headers %}
                    <th>{{ h }}</th>
                {% endfor %}
                </tr></thead>

                <tfoot><tr>
                {% for h in headers %}
                    <th>{{ h }}</th>
                {% endfor %}
                </tr></tfoot>
            {% endif %}

            <tbody>
            {% for fields in data %}
                {% set field = loop %}
                <tr>
                {%- for f in fields -%}
                    {% if attrs and (field.index-1, loop.index-1) in attrs.get('green', []) -%}
                    <td style="background-color: limegreen">
                    {% elif attrs and (field.index-1, loop.index-1) in attrs.get('red', []) %}
                    <td style="background-color: red;">
                    {% elif attrs and (field.index-1, loop.index-1) in attrs.get('orange', []) %}
                    <td style="background-color: orange;">
                    {% elif attrs and (field.index-1, loop.index-1) in attrs.get('blue', []) %}
                    <td style="background-color: lightskyblue;">
                    {% else %}
                    <td>
                    {%- endif -%}
                        {%- if attrs and (field.index-1, loop.index-1) in attrs.get('bold', []) -%}
                            <b>{{ f }}</b>
                        {%- elif attrs and (field.index-1, loop.index-1) in attrs.get('datetime', []) -%}
                            {{ f | datetime }}
                        {%- else -%}
                            {{ f | safe }}
                        {%- endif -%}
                    </td>
                {%- endfor %}
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>


{% if config_ini %}
    <div role="tabpanel" class="tab-pane" id="config_ini">
        <div id="config_ini_contents"><pre># use this to add seed nodes to the default list of built-in ones
{{ config_ini }}</pre></div>
        <div id="config_ini_contents2"><pre># use this to overwrite the default list of built-in seeds
seed-nodes = {{ config_ini_list}}</pre></div>
    </div>

{% endif %}

  </div>
{%- endmacro %}



{{ make_table(data, attrs, headers, title) }}

{% if data2 %}
{{ make_table(data2, attrs2, headers2, title2) }}
{% endif %}


            </div>
    <div id="push"></div>
</div>


<div id="footer">
	<div class="container">
		<p class="credit">
            DXP tools version: {{ core.VERSION }}
            <br>Please support this work by voting for blockproducer "wackou" - thank you!
		</p>
	</div> <!-- container -->
</div> <!-- footer -->


{################################# JAVASCRIPT #################################}


<!-- NOTE: most (all) JS should go at the end of the document for better page loading performance -->

<!-- NOTE: we may need to move this higher up (in the <head> section) if needed -->
<script src="/static/js/jquery.1.10.2.min.js"></script>
<script src="/static/js/bootstrap.3.1.1.min.js"></script>
<script src="/static/js/underscore.js"></script>

<script src="/static/js/jquery.dataTables.1.10RC1.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>

<script type="text/javascript">

$(function() {
    $("#tableview").DataTable({
        "ordering": {{ 'true' if sortable else 'false' }},
        "sorting": {{ (order or '[[ 1, "desc" ], [ 0, "asc" ]]') | safe }},
        "displayLength": {{ nrows or 10 }}
    });
});

</script>

<script src="/static/js/proj4_2.3.14.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<script type="text/javascript">

 $(function () {

    var data_countries = [
        {%- for name, nseeds in countries.items() -%}
        {
            "hc-key": "{{ name }}",
            "value": {{ nseeds }}
        },
        {%- endfor -%}
    ];


    // Initiate the chart
    $('#map_container').highcharts('Map', {

        title : {
            text : 'Connected peers'
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        colorAxis: {
        },

        tooltip: {
            headerFormat: '',
            pointFormat: '<b>{point.addr}</b><br>Country: {point.country}<br>Platform: {point.platform}<br>Version: {point.version}'
        },

        series : [{
            data : data_countries,
            mapData: Highcharts.maps['custom/world'],
            joinBy: 'hc-key',
            name: 'Random data',
            states: {
                hover: {
                    color: '#BADA55'
                }
            },
            dataLabels: {
                enabled: false,
                format: '{point.name}'
            },
            tooltip: {
                headerFormat: '',
                pointFormat: '{point.name} - <b>{point.value}</b>'
            }
        },
        {
            // Specify points using lat/lon
            type: 'mappoint',
            name: 'Nodes per country',
            color: Highcharts.getOptions().colors[1],
            data:[
            {%- for p in points -%}
            {
                {%- for k, v in p.items() -%}
                    {%- set vstr = v.__repr__() -%}
                    {{ k }}: {{ vstr | safe }},
                {%- endfor -%}
            },
            {%- endfor -%}
            ]
        }]
    });
});

</script>

</body>
</html>
