<div id="footer">
	<div class="container">
		<p class="credit">
            DXP tools version: {{ core.VERSION }}
            <br>Please support this work by voting for blockproducer "wackou" - thank you!
		</p>
	</div> <!-- container -->
</div> <!-- footer -->
