{% macro node_desc(node) -%}
    {%- if node.is_blockproducer() -%}
        <b>Blockproducer name: </b>
    {%- elif node.role == 'seed' -%}
        <b>Seed node: </b>
    {%- elif node.role == 'backbone' -%}
        <b>Backbone node: </b>
    {%- elif node.role == 'api' -%}
        <b>API node: </b>
    {%- else -%}
        <b>Node (type={{ node.role }}): </b>
    {%- endif -%}

    {{ node.name }}
{%- endmacro %}

<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">DXP tools</a>
		</div>

        <div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
                <li {% if request.path == '/status' %}class="active"{% endif %}><a href="/status">Status</a></li>
                <li {% if request.path == '/info' %}class="active"{% endif %}><a href="/info">Info</a></li>
                <!--
                <li {% if request.path == '/blockproducer/{{ rpc.main_node.name }}' %}class="active"{% endif %}><a href="/blockproducer/{{ rpc.main_node.name }}">Blockproducer info</a></li>
                <li {% if request.path == '/blockproducers' %}class="active"{% endif %}><a href="/blockproducers">Blockproducers</a></li>
                -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Network <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/network/dxp/seednodes">DxpChain seed nodes status</a></li>
                        <li><a href="/network/muse/seednodes">Muse seed nodes status</a></li>
                        <li><a href="/network/steem/seednodes">Steem seed nodes status</a></li>
                        <!--<li><a href="/backbone">Backbone status</a></li>-->
                        <li><a href="/peers">Connected peers</a></li>
                        <li><a href="/peers/potential">Potential peers</a></li>
                    </ul>
                </li>
                <li {% if request.path == '/logs' %}class="active"{% endif %}><a href="/logs">Logs</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if rpc.nodes.__len__() >= 2 %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ node_desc(rpc.main_node) }}
                            <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            {% for host, node_names, node in rpc.client_instances() %}
                            <li><a href="/rpchost/{{ node.type() }}/{{ node.wallet_host }}:{{ node.wallet_port }}/{{ node.name }}{{ request.path }}">
                                <b>{{ node.type() }}:</b> {{ node.name }}
                            </a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="#">{{ node_desc(rpc.main_node) }}</a></li>
                {% endif %}


                {%- if rpc.main_node.is_online() -%}
                    {% set is_synced = rpc.main_node.is_synced() %}

                    <li><a href="#"><div class="btn btn-xs btn-info">{{ rpc.main_node.type() }}: {{ process.binary_description(rpc.main_node) }}</div>
                    {%- if not is_synced -%}
                        {# if blockchain not up-to-date, information is not reliable #}
                        <div class="btn btn-xs btn-warning">NOT SYNCED</div>
                    {%- endif -%}
                    </a></li>

                    {% if is_synced and rpc.main_node.is_blockproducer() %}
                        {% if not rpc.main_node.is_active(rpc.main_node.name) %}
                            <li><a href="#"><div class="btn btn-xs btn-warning">STANDBY</div></a></li>
                        {% else %}
                            <li><a href="https://steemd.com/blockproducers">
                                <b>Blocks:</b>
                                {%- set producing, n = rpc.main_node.get_streak() -%}
                                {%- if n >= 0 -%}
                                    {% if producing %}
                                        <div class="btn btn-xs btn-success">Last {{ n }} produced</div>
                                    {% else %}
                                        <div class="btn btn-xs btn-danger">Last {{ n }} missed </div>
                                    {% endif %}
                                {%- else -%}
                                    <div class="btn btn-xs btn-danger">NO DATA / ERROR</div>
                                {%- endif -%}
                            </a></li>
                        {% endif %}
                    {% endif %}

                {%- else -%}
                    <li><a href="#"><div class="btn btn-xs btn-danger">offline</div></a></li>
                {%- endif -%}
            </ul>

        </div><!-- /.navbar-collapse -->
	</div>
</div>
